body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar{
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 1px 1px 1px 1px;
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: -5px;
  opacity: 1;
  z-index: 0;
}

.navbar.active{
  opacity: 0.3;
}
.toast-message {
  font-size: 45px;
  position: absolute;
  margin-top: 315px;
  left: -353%;
  transform: rotate(-1.8deg);
  width: 512px;
  height: 320px;
}
.toast-message:focus{
  transform: rotate(-1.8deg);
}